<!DOCTYPE html> 
<html lang="ja" xmlns:th="http://www.thymeleaf.org"> 
<head> 
<!-- ヘッド要素 --> 
<meta charset="UTF-8"> 
<title>タイトル</title> 
</head> 
<body> 

<form th:action="@{/ex-bbs/articleInsert}" th:object="${articleForm}" method="post">

	投稿者名：<input type="text" name="name" th:field="*{name}"><br>
	投稿内容:<textarea name="content" th:field="*{content}" rows="5" cols="33"></textarea><br>
	
	<button>記事投稿</button>

</form>
<hr>
<span th:each="article : ${articleList}">
	投稿者名：<span th:text="${article.name}"></span><br>
	投稿内容：<br><span th:text="${article.content}"></span><br>
	<button>記事削除</button><br><br>
	
	<span th:each="commentList : ${article.commentList}">
		<span th:each="comment : ${commentList}">
			コメント者名：<span th:text="${comment.name}"></span><br>
			コメント内容：<br><span th:text="${comment.content}"></span><br>
		</span>
	</span>
	
	<hr>
</span>

</body> 
</html>